<nav class="navbar navbar-inverse">
    <div class="menu-app">
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
        

            <li><a mat-button>
            <div class="nosotros">
                <button routerLink="/conductor" routerLinkActive="active" mat-button >Inicio</button>
            </div></a>
            </li>

            <li><a mat-button>
            <div class="nosotros">
                <button routerLink="/conductor" routerLinkActive="active" mat-button >Ayuda</button>
            </div></a>
            </li>

            <li><a mat-button>
            <div class="nosotros">
                <button routerLink="/conductor" routerLinkActive="active" mat-button >Nosotros</button>
            </div></a>
            </li>

            <li><a mat-button>
            <div class="nosotros">
                <button routerLink="/iniciar" routerLinkActive="active" mat-button >Iniciar sesion</button>
            </div></a>
            </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li ><a mat-button> <mat-icon>account_circle</mat-icon>Usuario</a></li>
            <li ><a mat-button> <mat-icon>supervisor_account</mat-icon>Tipo de usuario</a></li>
            <li ><a mat-button> <mat-icon>exit_to_app</mat-icon> Cerrar sesion</a></li>
        </ul>
        
        </div>
    </div>
</nav>