<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Autobuces el poblado</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
 
<mat-toolbar>
  Autobuces el poblaso laureles 
  <ul class="nav navbar-nav navbar-right">
      <li ><a mat-button> <mat-icon>account_circle</mat-icon>Usuario</a></li>
      <li ><a mat-button> <mat-icon>supervisor_account</mat-icon>Tipo de usuario</a></li>
      <li ><a mat-button> <mat-icon>exit_to_app</mat-icon> Cerrar sesion</a></li>
  </ul>
  
</mat-toolbar>
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>

  <mat-tab-group>
    <mat-tab label="Inicio">
      Contenido del inicio 
    </mat-tab>    
    
    <mat-tab label="Nosotros">
      este sera el contenido del las tabla nosotros o demas contenido importante
    </mat-tab>  

    <mat-tab label="Ayudas">
      Ayuda con respecto a lo que ser necesita con el aplicativo
    </mat-tab>  

    <mat-tab label="Modulos">      
        <menu></menu>        
    </mat-tab>  

    <mat-tab label="Menu">
       
    </mat-tab>  

  </mat-tab-group>
  

<mat-menu #menu="matMenu">

  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>

  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voicemail</span>
  </button>

  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>




  </body>
</html>  