<div class="col-xs-20">
  <div class="col-md-3">
    <mat-card class="example-card">  
      <mat-accordion>  
        <mat-expansion-panel>
            <mat-expansion-panel-header>      
              <mat-panel-description>
                Usuarios
              </mat-panel-description>
            </mat-expansion-panel-header>
            <button mat-button routerLink="usuarios-rutas">Usuarios</button>  
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>      
              <mat-panel-description>
                Mantenimiento
              </mat-panel-description>
            </mat-expansion-panel-header>
            <button mat-button>Mantenimiento</button> 
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>      
              <mat-panel-description>
                Autobuses
              </mat-panel-description>
            </mat-expansion-panel-header>
            <button mat-button>Autobuses</button>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>      
              <mat-panel-description>
                Proveedor
              </mat-panel-description>
            </mat-expansion-panel-header>
            <button mat-button>Proveedor</button> 
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>      
              <mat-panel-description>
                Facturacion
              </mat-panel-description>
            </mat-expansion-panel-header>
            <button mat-button>Facturacion</button> 
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>      
              <mat-panel-description>
                  Item
              </mat-panel-description>
            </mat-expansion-panel-header>
            <button mat-button>Item</button>
        </mat-expansion-panel>
      </mat-accordion>  
    </mat-card>    
  </div>
  <div class="col-md-8">
      <router-outlet></router-outlet>
   </div>  
</div>
  

 



  