
  <div id="login-overlay" class="modal-dialog">
        <div class="modal-content">
        
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="well">
                            <form id="loginForm" method="POST" action="/login/" novalidate="novalidate">
                                <div class="form-group">                               
                                    <input type="text" class="form-control" id="username" [(ngModel)]="usuarios.usuario" required="" placeholder="Usuario">                               
                                </div>
                                <div class="form-group">                                
                                    <input type="password" class="form-control" id="password" name="password"  required="" placeholder="******">              
                                    

                                    <button type="submit" class="btn btn-success btn-block" (click)="entrar()">Login</button>   
                                </div>                            
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        
                        <ul class="list-unstyled" style="line-height: 2">
                            <li><span class="fa fa-check text-success"></span> See all your orders</li>    
                        </ul>                   
                    </div>
                </div>
            </div>
        </div>
    </div>

<div *ngIf="login">
    hola como estas       
</div>